workflows/itops_process_alert.json
{
  "name": "IT Ops - Process Alert",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "it-alert",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "it-alert"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst body = input.body || input;\n\nconst server = body.server || 'unknown-server';\nconst alertType = body.alert_type || 'unknown';\nconst metric = body.metric || 'unknown';\nconst value = parseFloat(body.value) || 0;\nconst threshold = parseFloat(body.threshold) || 80;\nconst service = body.service || 'unknown-service';\n\n// Classify priority based on alert type and severity\nlet priority = 'P3';\nlet recommendation = 'Log only';\nlet autoAction = null;\n\nconst alertConfig = {\n  'disk_usage': {\n    p1Threshold: 95,\n    p2Threshold: 85,\n    p3Action: 'Log and monitor',\n    p2Action: 'Clean temp files',\n    p1Action: 'Archive old logs + alert admin'\n  },\n  'memory_usage': {\n    p1Threshold: 95,\n    p2Threshold: 80,\n    p3Action: 'Log and monitor',\n    p2Action: 'Restart service',\n    p1Action: 'Failover to backup'\n  },\n  'cpu_usage': {\n    p1Threshold: 95,\n    p2Threshold: 85,\n    p3Action: 'Log and monitor',\n    p2Action: 'Scale resources',\n    p1Action: 'Emergency scaling + alert'\n  },\n  'service_down': {\n    p1Threshold: 1,\n    p2Threshold: 0,\n    p3Action: 'Health check',\n    p2Action: 'Auto-restart service',\n    p1Action: 'Failover to DR site'\n  },\n  'database_connection': {\n    p1Threshold: 1,\n    p2Threshold: 0,\n    p3Action: 'Log connection issue',\n    p2Action: 'Reset connection pool',\n    p1Action: 'Failover to replica'\n  }\n};\n\nconst config = alertConfig[alertType] || {\n  p1Threshold: 95,\n  p2Threshold: 80,\n  p3Action: 'Log only',\n  p2Action: 'Auto-remediate',\n  p1Action: 'Requires approval'\n};\n\nif (value >= config.p1Threshold) {\n  priority = 'P1';\n  recommendation = config.p1Action;\n} else if (value >= config.p2Threshold) {\n  priority = 'P2';\n  recommendation = config.p2Action;\n  autoAction = config.p2Action;\n} else {\n  priority = 'P3';\n  recommendation = config.p3Action;\n  autoAction = config.p3Action;\n}\n\nconst alertId = 'ITA-' + Date.now().toString(36).toUpperCase();\n\nreturn {\n  json: {\n    alertId,\n    priority,\n    server,\n    alertType,\n    metric,\n    value,\n    threshold,\n    service,\n    recommendation,\n    autoAction,\n    createdAt: new Date().toISOString()\n  }\n};"
      },
      "id": "analyze",
      "name": "Analyze Alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "p1-check",
              "leftValue": "={{ $json.priority }}",
              "rightValue": "P1",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-p1",
      "name": "Is P1?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "value": "YOUR_SHEET_ID", "mode": "id" },
        "sheetName": { "__rl": true, "value": "PendingApprovals", "mode": "list" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "alert_id": "={{ $json.alertId }}",
            "priority": "={{ $json.priority }}",
            "server": "={{ $json.server }}",
            "alert_type": "={{ $json.alertType }}",
            "metric": "={{ $json.metric }}",
            "value": "={{ $json.value }}",
            "recommendation": "={{ $json.recommendation }}",
            "status": "PENDING",
            "created_at": "={{ $json.createdAt }}",
            "approved_by": ""
          }
        },
        "options": {}
      },
      "id": "log-pending",
      "name": "Log to PendingApprovals",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [910, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'PENDING_APPROVAL', alertId: $json.alertId, priority: $json.priority, server: $json.server, alertType: $json.alertType, message: 'Critical action requires approval', recommendation: $json.recommendation }) }}",
        "options": {}
      },
      "id": "respond-pending",
      "name": "Respond Pending",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1130, 200]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "value": "YOUR_SHEET_ID", "mode": "id" },
        "sheetName": { "__rl": true, "value": "ActionLog", "mode": "list" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "action_id": "={{ 'ACT-' + Date.now().toString().slice(-6) }}",
            "priority": "={{ $json.priority }}",
            "server": "={{ $json.server }}",
            "alert_type": "={{ $json.alertType }}",
            "action_taken": "={{ $json.autoAction }}",
            "approved_by": "SYSTEM",
            "status": "COMPLETED",
            "created_at": "={{ $json.createdAt }}"
          }
        },
        "options": {}
      },
      "id": "log-auto",
      "name": "Log to ActionLog",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [910, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'AUTO_REMEDIATED', alertId: $json.alertId, priority: $json.priority, server: $json.server, message: 'Auto-remediation executed: ' + $json.autoAction }) }}",
        "options": {}
      },
      "id": "respond-auto",
      "name": "Respond Auto",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1130, 400]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Analyze Alert", "type": "main", "index": 0 }]] },
    "Analyze Alert": { "main": [[{ "node": "Is P1?", "type": "main", "index": 0 }]] },
    "Is P1?": {
      "main": [
        [{ "node": "Log to PendingApprovals", "type": "main", "index": 0 }],
        [{ "node": "Log to ActionLog", "type": "main", "index": 0 }]
      ]
    },
    "Log to PendingApprovals": { "main": [[{ "node": "Respond Pending", "type": "main", "index": 0 }]] },
    "Log to ActionLog": { "main": [[{ "node": "Respond Auto", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
